doctype html

head
  meta(charset='UTF-8')
  title WitsPer智選家｜黃閔駿
  link(rel='stylesheet' href='style.css')
  meta(name="viewport" content="width=device-width, initial-scale=1")
  link(rel='shortcut icon' type='image/png' href='https://img.shoplineapp.com/media/image_clips/5a4896669a76f017ea000555/thumb.png?1514706533')



.nav
  img(src="assets/navbar.png")
.cover
  img(src="assets/banner_xl.png")

.container

  .a-title
    img(src="assets/a-title.png") 
  .a1
    .pic
      img(src="assets/a1-1.png") 
    .pic
      img(src="assets/a1-2.png") 
    .pic
      img(src="assets/a1-3.png") 
    .pic
      img(src="assets/a1-4.png") 
    .pic
      img(src="assets/a1-5.png") 
    .pic
      img(src="assets/a1-6.png") 
    .pic
      img(src="assets/a1-7.png") 
    .pic
      img(src="assets/a1-8.png") 
  .a2
    .pic
      img(src="assets/a2-1.png") 
    .pic
      img(src="assets/a2-2.png") 
    .pic
      img(src="assets/a2-3.png") 
    .pic
      img(src="assets/a2-4.png")
  .a3
    .pic.a3-1
      img(src="assets/a3-1.png") 
    .pic
      img(src="assets/a3-2.png") 
    .pic
      img(src="assets/a3-3.png") 
    .pic
      img(src="assets/a3-4.png") 
    .pic
      img(src="assets/a3-5.png") 
  .a4
    .pic
      img(src="assets/a4-1.png")
    .pic
      img(src="assets/a4-2.png")
    .pic
      img(src="assets/a4-3.png")

  .b-title
    img(src="assets/b-title.png") 
  .b1
    .pic
      img(src="assets/b1-0.png")   
    .con
      .pic
        img(src="assets/b1-1.png") 
      .pic.b1-s
        img(src="assets/b1-s1.png")
        img(src="assets/b1-s2.png")
        img(src="assets/b1-s3.png")
        img(src="assets/b1-s4.png")
        img(src="assets/b1-s5.png")
        img(src="assets/b1-s6.png")
        img(src="assets/b1-s7.png")
        img(src="assets/b1-s8.png") 
  .b2.b1
    .pic
      img(src="assets/b2-0.png") 
    .con
      .pic
        img(src="assets/b2-1.png") 
      .pic
        img(src="assets/b2-2.png") 

  .c-title
    img(src="assets/c-title.png")
  .c1
    .pic-a.pic
      img(src="assets/c1-1.png")
    .pic-b.pic
      img(src="assets/c1-2.png")
    .pic-a.pic
      img(src="assets/c1-3.png")
    .pic-b.pic
      img(src="assets/c1-4.png")
  .c2
    .pic
      img(src="assets/c2-1.png")
    .pic
      img(src="assets/c2-2.png")
    .pic
      img(src="assets/c2-3.png")

  .d-title
    img(src="assets/d-title.png")
  .d1
    .pic
      img(src="assets/d1-1.png")
    .pic
      img(src="assets/d1-2.png")
    .pic.pic-s
      img(src="assets/d1-3.png")
  .d2
    img(src="assets/d2-1.png")
    img(src="assets/d2-2.png")
  .d3
    img(src="assets/d3-1.png")
    img(src="assets/d3-2.png")
    img(src="assets/d3-3.png")
    img(src="assets/d3-4.png")
    img(src="assets/d3-5.png")
    img(src="assets/d3-6.png")

  .e-title
    img(src="assets/e-title.png")
  .e1
    .pic
      img(src="assets/e-1.png")
    
  .button
    img(src="assets/e-botton.png")

